//
//  Base.xcconfig
//  IOS-ECommerce
//
//  Created by NamaaIT Apple3 on 06/10/2026.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project


PRODUCT_NAME=IOS Ecommerce
API_VERSION=v006
API_ACCOUNT_ID=28
BRAND_SLUG=cuddluxe
