<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_SECRET_KEY</key>
	<string>$(API_SECRET_KEY)</string>
	<key>BRAND_SLUG</key>
	<string>$(BRAND_SLUG)</string>
	<key>API_VERSION</key>
	<string>$(API_VERSION)</string>
	<key>APP_ENVIRONMENT</key>
	<string>$(APP_ENVIRONMENT)</string>
	<key>API_BASE_URL</key>
	<string>https:/$(API_BASE_URL)/</string>
	<key>API_ACCOUNT_ID</key>
	<string>$(API_ACCOUNT_ID)</string>
</dict>
</plist>
